<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>MusicName</key>
		<string>Yesterday Once More</string>
		<key>Detail</key>
		<string>Carpenters 

Yesterday Once More

Written：Richard Carpenter/John Bettis

When I was young
I&apos;d listen to the radio
Waitin&apos; for my favorite songs
When they played I&apos;d sing along
It made me smile.

Those were such happy times
And not so long ago
How I wondered where they&apos;d gone
But they&apos;re back again
Just like a long lost friend
All the songs I loved so well.

Every Sha-la-la-la
Every Wo-o-wo-o
Still shines
Every shing-a-ling-a-ling
That they&apos;re startin&apos; to sing&apos;s
So fine.

When they get to the part
Where he&apos;s breakin&apos; her heart
It can really make me cry
Just like before
It&apos;s yesterday once more.

Lookin&apos; back on how it was
In years gone by
And the good times that I had
Makes today seem rather sad
So much has changed.

It was songs of love that
I would sing to then
And I&apos;d memorize each word
Those old melodies
Still sound so good to me
As they melt the years away.

Every Sha-la-la-la
Every Wo-o-wo-o
Still shines
Every shing-a-ling-a-ling
That they&apos;re startin&apos; to sing&apos;s
So fine.

All my best memories
Come back clearly to me
Some can even make me cry.

Just like before
It&apos;s yesterday once more.</string>
	</dict>
	<dict>
		<key>MusicName</key>
		<string>The Boys</string>
		<key>Detail</key>
		<string>SNSD

[All] I can tell you&apos;re looking at me
I know what you see
Any closer and you&apos;ll feel the heat

([Jessica] GG)
[All] You don&apos;t have to pretend that you didn&apos;t notice me
Every look will make it hard to breathe

([Jessica] T R X)
[All] B-Bring the boys out
([Tiffany] Yeah~ You know~)
[All] B-Bring the boys out
([Tiffany] We bring the boys out (x2) Yeah~)
[All] B-Bring the boys out

[Taeyeon] Soon as I step on the scene
I know that they&apos;ll be watching me~ watching me~
([Tiffany] Get up)
[Yoona] I&apos;mma be the hottest in this spot
There ain&apos;t no stopping me~ ([Tiffany] That&apos;s funny) [Yoona] stopping me~

[Sunny] I know life is a mystery
I&apos;m gonna make history
I&apos;m taking it from the start ([Tiffany] Ah ah ah ah)
[Seohyun] Call all emergency
I&apos;m watching the phone ring ([Tiffany] Ah ah)
I&apos;m feeling this in my heart~ my heart~ ([Tiffany] Ah ah ah)

[All] B-Bring the boys out
[All] Girls&apos; Generation make you feel the heat

[Yuri] And we&apos;re doing it, we can&apos;t be beat
[All] B-Bring the boys out
[Sooyoung] We&apos;re born to win
Better tell all your friends
&apos;Cause we get it in

You know the girls
[All] B-Bring the boys out
[Jessica] Wanna know my secrets
But no I&apos;ll never tell
&apos;Cause I got the magic touch

And I&apos;m not tryin&apos; to fail
That&apos;s right
([Sunny] Yes fly high)
[Jessica] And I
([Sunny] You fly high)

[Jessica] Can&apos;t deny, I know I can fly
[Seohyun] I know life is a mystery ([Tiffany] Yeah)
I&apos;m gonna make history ([Tiffany] Yeah)
I&apos;m taking it from the start ([Tiffany] Ah ah ah ah)
[Taeyeon] Call all emergency ([Tiffany] Yeah)

I&apos;m watching the phone ring ([Tiffany] Come on come on)
I&apos;m feeling this in my heart, my heart ([Tiffany] Ha ha ha ha ha ha, ha ha ha ha ha ha)
[All/Taeyeon] B-bring the boys out
[All] Girls&apos; Generation make you feel the heat
[Tiffany] And we&apos;re doin&apos; it, we can&apos;t be beat
[All] B-Bring the boys out

[Hyoyeon] We&apos;re born to win
Better tell all your friends
&apos;Cause we get it in
You know the girls
[All] B-Bring the boys out

[All] Girls bring the boys out
[Yuri] I wanna dance right now
We can show &apos;em how the girls get down
[Yoona] Yes we go for more than zero
Number one everyone should know

Check this out
[Hyoyeon] All the boys (x2) want my heart
Better know how to rock and don&apos;t stop
[Sooyoung] Oh Gee
We make you so hot

Girls&apos; Generation we won&apos;t stop
[All] B-Bring the boys out
[Jessica] It&apos;s not a fantasy
This is right for me
Livin&apos; it like a star

[Taeyeon] Can&apos;t get the rest of me
I&apos;mma be what I wanna be
This is deep in my heart~ my heart~
[All] I can tell you&apos;re looking at me
I know what you see

Any closer and you&apos;ll feel the heat
[All/Taeyeon] Just bring the boys out
[All/Seohyun] You don&apos;t have to pretend
That you didn&apos;t notice me
Every look will make it hard to breathe

[All] B-Bring the boys out
[Jessica] &apos;Cause the
[Jessica] Girls (x4) [All/Jessica] Bring the boys out (x4)
[All] Girls&apos; Generation make &apos;em feel the heat
[Sunny] And we&apos;re doing it, we can&apos;t be beat

[All] B-Bring the boys out
[Tiffany] We&apos;re born to win
Better tell all your friends
&apos;Cause we get it in
You know the girls</string>
	</dict>
	<dict>
		<key>MusicName</key>
		<string>Down</string>
		<key>Detail</key>
		<string>Jay Sean 

Down (Feat. Lil Wayne)

Baby are you down down down down down,
Down, Down,
Even if the sky is falling down,
Down, down
Ooh (ohhh)

You oughta know, tonight is the night to let it go,
Put on a show, I wanna see how you lose control,

So leave it behind, coz we, have a night to get away,
So come on and fly with me, as we make our great escape.

So baby don&apos;t worry, you are my only,
You won&apos;t be lonely, even if the sky is falling down,
You&apos;ll be my only, no need to worry,
Baby are you down down down down down,
Down, Down,
Baby are you down down down down down,
Down, Down,
Even if the sky is falling down,

Just let it be, come on and bring your body next to me,
I&apos;ll take you away, hey, turn this place into our private getaway,

So leave it behind, coz we, have a night to get away,
So come on and fly with me, as we make our great escape,
(So why don&apos;t we run away)

So baby don&apos;t worry, you are my only,
You won&apos;t be lonely, even if the sky is falling down,
You&apos;ll be my only, no need to worry,
Baby are you down down down down down,
Down, Down,
Baby are you down down down down down,
Down, Down,
Even if the sky is falling down,

(LiL Wayne)
Even if the sky is falling down like she &apos;posed to be,
She gets down low for me,
Down like her temperature, cause to me she zero degrees,
She cold, like over freeze,
I got that girl from overseas,
Now she my miss America,
Now can I be her soldier please,
I&apos;m fighting for this girl,
On a battlefield of love,
Don&apos;t it look like baby cupid sendin arrows from above,
Don&apos;t you ever leave the side of me,
Indefinitely, not probably,
And honestly I&apos;m down like the economy,
Yeahhhhhh

So baby don&apos;t worry, you are my only,
You won&apos;t be lonely, even if the sky is falling down,
You&apos;ll be my only, no need to worry,
Baby are you down down down down down,
Down, Down,
Baby are you down down down down down,
Down, Down,
Even if the sky is falling down</string>
	</dict>
	<dict>
		<key>MusicName</key>
		<string>Canon</string>
		<key>Detail</key>
		<string>Canon

From Wikipedia, the free encyclopedia

In music, a canon is a contrapuntal compositional technique that employs a melody with one or more imitations of the melody played after a given duration 
(e.g., quarter rest, one measure, etc.). 

The initial melody is called the leader (ordux), while the imitative melody, which is played in a different voice, is called the follower (or comes). 
The follower must imitate the leader, either as an exact replication of its rhythms and intervals or some transformation thereof (see &quot;Types of canon&quot;, below). 

Repeating canons in which all voices are musically identical are called rounds – &quot;Row, Row, Row Your Boat&quot; and &quot;Frère Jacques&quot; being widely known examples. 
An example of a classical strict canon is the Minuet ofHaydn&apos;s String Quartet in D Minor, Op. 76, No. 2 (White 1976, 66).</string>
	</dict>
	<dict>
		<key>MusicName</key>
		<string>Castle In Sky</string>
		<key>Detail</key>
		<string>Joe Hisaishi

This article is about the 1986 film. For other uses, see Castle in the sky (disambiguation).

Castle in the Sky (天空の城ラピュタ Tenkū no Shiro Rapyuta?) 
(re-titled Laputa: Castle in the Sky for re-release in the United Kingdom and Australia) is a 1986 animated adventure feature film written and directed by Hayao Miyazaki. 

It is the first film produced and released by Studio Ghibli. 
The film was distributed by Toei Kabushiki Kaisha.[1] Laputa: Castle in the Sky won theAnimage Anime Grand Prix in 1986.</string>
	</dict>
</array>
</plist>
