<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2013</key>
	<array>
		<string>BaseBallGame</string>
		<string>4Friends</string>
		<string>BreakTime</string>
		<string>Xmas</string>
	</array>
	<key>2014</key>
	<array>
		<string>Calgary</string>
		<string>Memory</string>
	</array>
</dict>
</plist>
