<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Basic Info</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>username</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>UserName :</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>birthday</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Birthday :</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Favorite Program</string>
			<key>Key</key>
			<string>favoPro</string>
			<key>Titles</key>
			<array>
				<string>IOS</string>
				<string>Java</string>
				<string>ASP.NET</string>
				<string>Flash</string>
				<string>3D Max</string>
				<string>PhotoShop</string>
				<string>SQL</string>
			</array>
			<key>Values</key>
			<array>
				<string>IOS</string>
				<string>Java</string>
				<string>ASP.NET</string>
				<string>Flash</string>
				<string>3D Max</string>
				<string>PhotoShop</string>
				<string>SQL</string>
			</array>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>email</string>
			<key>KeyboardType</key>
			<string>EmailAddress</string>
			<key>Title</key>
			<string>E-Mail :</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>cellphone</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Cell Phone No. :</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Address Info</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Address Setings : </string>
			<key>Key</key>
			<string></string>
			<key>File</key>
			<string>Address</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>More Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>AutoBackground</string>
			<key>Key</key>
			<string>autoBG</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
